# Mikusinski Companion Matrix

In [1]:
import numpy as np
import itertools
import bisect
from collections import defaultdict
import pandas as pd

The differention equation order is *k*. <br />
The boundary condition order is *m*.

In [2]:
k = 5
m = 3

In [3]:
sorted_combinations = list(itertools.combinations(range(k),m))

In [4]:
def sparse_row(combination):
    increments = np.identity(m, dtype=int) + combination
    wronskians = [(x,'1') for x in increments]

    if increments[-1][-1] == k:
        wronskians += [wronskian_expansion(list(increments[-1]), i) for i in range(k)]

    return defaultdict(lambda: '0', {tuple(a):b for a,b in wronskians})

In [5]:
def wronskian_expansion(wronskian, order):
    swap_count = bisect.bisect_left(wronskian, order)
    sign = '+' if (swap_count + wronskian.index(k)) % 2 == 0 else '-'
    value = sign + 'p[' + str(order) + ']'
    expanded = sorted(order if x == k else x for x in wronskian)
    return (expanded, value)

In [6]:
mikusinski_matrix = [[sparse_row(y)[tuple(x)] for x in sorted_combinations] for y in sorted_combinations]

In [7]:
pd.DataFrame(mikusinski_matrix)

       0      1      2      3      4      5      6      7      8      9
0      0      1      0      0      0      0      0      0      0      0
1      0      0      1      1      0      0      0      0      0      0
2  +p[2]  +p[3]  +p[4]      0      1      0      0      0      0      0
3      0      0      0      0      1      0      1      0      0      0
4  -p[1]      0      0  +p[3]  +p[4]      1      0      1      0      0
5      0  -p[1]      0  -p[2]      0  +p[4]      0      0      1      0
6      0      0      0      0      0      0      0      1      0      0
7  +p[0]      0      0      0      0      0  +p[3]  +p[4]      1      0
8      0  +p[0]      0      0      0      0  -p[2]      0  +p[4]      1
9      0      0      0  +p[0]      0      0  +p[1]      0      0  +p[4]